html {
    background: url(../images/bg1.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica Neue', sans-serif;
}

#about{
    text-decoration: overline;
    text-decoration-color: crimson;
}

.aboutTitle {
    text-align: center; 
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 55px;
    text-decoration: underline;
    color: white;
}

.wrapper{
    width: calc(100vw-50px);
    max-width: 630px;
    height: calc(100vh-100px);
    background: rgba(0,0,0,0.7);
    margin: 0 auto;
    padding: 1px;
    color: white;
}

.about-pic {
    float: left;
    margin: 5px 10px 10px 5px;
    border-radius: 50%;
    width: 220px;
    height: 340px;
}

p, #finalLine {
    font-size: 18px;
    font-weight: 200;
    margin-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: white;
    text-align: none;
}

#finalLine {
    padding-top: 8px;
    margin-top: 8px;
    text-align: center;
}