.bodybg {
    background: url(../Assets/bg1.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    font-family: 'Helvetica Neue', sans-serif;
}

.active {
    text-decoration: overline;
    text-decoration-color: crimson;
}
