*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #EAEDF1;
  font-family: 'Helvetica Neue', sans-serif;
}

.active {
    text-decoration: overline;
    text-decoration-color: crimson;
}

.card-footer {
    background-color: .
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}