html { 
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Helvetica Neue', sans-serif;
}

#home {
    text-decoration: overline;
    text-decoration-color: crimson;
}

.profile {
    width: calc(100vw-50px);
    max-width: 430px;
    height: 450px;
    border-radius: 5%;
    background: rgba(0,0,0,0.6);
    padding: 30px;
    color: white;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    padding: 20px;
}

h1{
    font-weight: bold;
    letter-spacing: 6px;
    font-size: 28px;
}

h3 {
    font-weight: 200;
    letter-spacing: 1px;
}

.social-icons {
    font-size: 40px;
    padding: 20px;
}

.fa-linkedin-square {
    color: rgb(0, 119, 181);
}

.fa-facebook-square {
    color: rgb(59,89,152);
}

.fa-instagram {
    color: rgb(205, 72, 107);
}

.fa-github-square {
    color: ghostwhite;
}
