html {
    background-color: whitesmoke no-repeat center center fixed;
    font-family: 'Helvetica Neue', sans-serif;
}

#publicity {
    text-decoration: overline;
    text-decoration-color: crimson;
}

#image1, #image3, #image2, #image4 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin: 8px;
}

#image3 {
    width: 340px;
    height: 200px;
}

#image1 {
    width: 225px;
    height: 244px;
}

#image2, #image4 {
    width: 340px;
    height: 130px;
}

#image2 {
    margin-top: 60px;
}

#image4 {
    margin-top: 35px;
}

.container1, .container2 {
    width: 780px;
    height: 360px;
    margin: 0 auto;
}

#one, #three {
    float: left;
}

#two, #four {
    float: right;
}

#one, #two, #three, #four {   
    width: 380px;
    height: 350px;
    margin-bottom: 12px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 850px)
{
    #one, #two, #three, #four {
        position: initial;
        display: block;
        float: none;
        margin: 0 auto;
        margin-bottom: 12px;
        padding: 12px;
    }
    
    .container1, .container2 {
        width: 100%;
        height: 770px;
        margin: 0 auto;
    }
}


h2 {
    margin-top: 4px;
    margin-left: 14px;
    margin-right: 14px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

h4 {
    margin-left: 14px;
    margin-right: 14px;
    font-size: 12px;
    text-align: left;
    font-weight: 400;
}

a:visited, a:link, a:active { 
    color:#000;
    text-decoration: none;
}

a:hover {
    color:#000;
    text-decoration: underline;
}