html {
    background-color: whitesmoke no-repeat center center fixed;
    font-family: 'Helvetica Neue', sans-serif;
}

.active {
    text-decoration: overline;
    text-decoration-color: crimson;
}

.card {   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cropImg {
    overflow: hidden;
    position: inherit;
}

.cropImg:after {
    content: "";
    display: block;
    padding-bottom: 90%;
}

.profile_img{
    width: 100%;
    position: absolute;
}